{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Simple Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    <script>
        // Define the static base URL dynamically using Django's static template tag
        const staticBaseURL = "{% static 'myapp/' %}";
    </script>
</head>
<body class="centered-content">
    <br><br>
    <img src="{% static 'myapp/logo.png' %}" alt="My Image" width="300" height="100">
    <!-- <h2>Audio Files</h2>
    <ul id="audio-list">
        {% for audio_file in audio_files %}
            <li><a href="#" class="audio-file" data-file="{{ audio_file }}">{{ audio_file }}</a></li>
        {% endfor %}
    </ul> -->
    <br>
    <br>
    <div class="music-player">
        <h3 id="song-title">Pick an audio</h3>
        <audio id="audio-player" src="{% static 'myapp/HarryPotter.wav' %}"></audio>
        <div class="controls">
            <!-- <button id="backward">-10s</button> -->
            <button id="play-pause">Play</button>
            <button id="reset">Reset</button>
            <!-- <button id="forward">+10s</button> -->
            <div class="time-and-bar">
                <span id="current-time">0:00</span>
                <input type="range" id="progress-bar" value="0" max="100" onchange="seekProgress()">
                <span id="total-time">0:00</span>
            </div>
        </div>
    </div>
    <button id="transcript-btn">Generate Transcript</button>
    <br>
    <div id="main-transcript">
        <p> <strong>Transcript:</strong></p>
        <div id="original-transcription" class="text-box"></div>
    
        <br>
        <button id="simplify-btn">Simplify</button>
    </div>
    <div id="simplify-transcript">
        <br>
        <p><strong>Simplified:</strong></p> 

        <div id="simplified-transcription" class="text-box"></div>
        <br>
        <div class="button-container">
            <button id="re-simplify-btn"> Re-Simplify </button>
            <button id="play-audio-btn"> Play Audio </button>
        </div>
        <br>
        <button id="keyword-btn"> generate keywords</button><br><br>
        <div id="keyword-container"></div><br>
        <button id="img-btn"> generate image </button><br><br>
    </div>
    <div id="generated-image-container"></div>
    <script src="{% static 'myapp/script.js' %}"></script>
    <!-- <script src="{% static 'myapp/transcriptions.js' %}"></script> -->
</body>
</html>
